@import './variables/colors.scss';

.hidden {
    display: none
}

#pokemon-form{
    display: flex;
    width: 250px;
    *{
        height: 3vh;
    }
    #name {
        width: 100px;
    }
    #submit {
        height: 30px;
        width: 30px;
        font-size: 12px;
        padding: 0;
        border: none;
        border-radius: 20px;
        background-color: $blue;
        color: $yellow;
        font-weight: bolder;
        cursor: pointer;
        transition: 0.2s;
        &:hover{
            background-color: $light-blue;
        }
    }
}