@use './styles/header.scss';
@use './styles/portrait.scss';
@use './styles/form.scss';
@import './styles/variables/colors.scss';

body {
    margin: 0;
    padding: 0;
    border: 8px solid $blue;
}

#main-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    svg {
        width: 40vw;
        height: 40vw;
    };
}

#footer-content, #main-content {
    padding-left: 2%;
}

#main-header {
    display: flex;
    justify-content: center;
}

#number {
    width: 50px;
}

@media (max-width: 700px) {
    #main-content {
        flex-wrap: wrap-reverse;
        svg {
            // transform: scale(0.8, 0.8);
            position: relative;
            // top: calc(-0.08*calc(100vh));
            width: 92vw;
            height: 340px;
        }
    }
}