#example, #portrait, #title {
    border: 1px solid red;
}

#main-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#main-header {
    text-align: center;
}

#number {
    width: 50px;
}